{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="Name" placeholder="Your fullname" autofocus autocomplete="off">
        </div>

        <div class="form-group">
            <select class="form-control" name="Prefix">
                <option disabled selected value="">Prefix</option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
                <option value="Dr">Dr</option>
            </select>
        </div>

        <div class="form-group">
            <lable for="birth-Date">Date of birth:</lable>
            <input class="form-control" type="date" name="birth-date" id="birth-Date" value="2000-01-30">
        </div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email">
        </div>

        <div class="form-group">
            Your education:
            <div class="form-check">
                <input type="radio" name="education" id="high-school" class="form-check-input" value="High-School">
                <lable class="form-check-lable" for="high-school">
                    High school
                </lable>
            </div>
            <div class="form-check">
                <input type="radio" name="education" id="bachelor" class="form-check-input" value="Bachelor">
                <lable class="form-check-lable" for="bachelor">
                    Bachelor
                </lable>
            </div>
            <div class="form-check">
                <input type="radio" name="education" id="diploma" class="form-check-input" value="Diploma">
                <lable class="form-check-lable" for="diploma">
                    Diploma
                </lable>
            </div>
            <div class="form-check">
                <input type="radio" name="education" id="master" class="form-check-input" value="Master">
                <lable class="form-check-lable" for="master">
                    Master
                </lable>
            </div>
            <div class="form-check">
                <input type="radio" name="education" id="PhD" class="form-check-input" value="PhD">
                <lable class="form-check-lable" for="PhD">
                    PhD
                </lable>
            </div>
            <div class="form-check">
                <input type="radio" name="education" id="none" class="form-check-input" value="None">
                <lable class="form-check-lable" for="none">
                    None
                </lable>
            </div>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="message" placeholder="Short sentence about yourself, please!"></textarea>
        </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>
        document.querySelector('form').onsubmit=function(){
            if (!document.querySelector('input[name="Name"]').value){
                alert('You must provide your name!')
                return false;
            }
            else if (!document.querySelector('select[name="Prefix"]').value){
                alert('You must choose one of listed prefix')
                return false;
            }
            else if (!document.querySelector('select[name="birth-date"]').value){
                alert('Your birthdate please!')
                return false;
            }
            else if (!document.querySelector('input[name="email"]').value){
                alert('You must provide your email!')
                return false;
            }
            else if (!document.querySelector('input[type="radio"]:checked')){
                alert('You must provide your highest education grade!')
                return false;
            }
            else if (!document.querySelector('textarea[name="message"]').value){
                alert('Please tell us briefly about yourself!')
                return false;
            }
            return true;
        }
    </script>


{% endblock %}
